<%=@post.body%>

<nav class="header">
	<div class="row top-header-bar">
		
		<div class="col-xs-2 "><%= image_tag ('avatar.png'), :class => "header-logo"%></div>
		
		<div class="col-xs-3 title-text"><h2>Danebook</h2></div>
		
		<div class="col-xs-4"><input type="text" class="form-control top-search-bar" aria-label="search" placeholder="search"></div>
		
		<div class="col-xs-2 top-bar-name"><h4><%=@user.first_name%></h4></div>

	</div>
</nav>


<div class="container main-pic">
	<div class="row">
		<div class="col-xs-12"><%= image_tag ('autumn.jpg'), :class => 
			"main-background-logo" %></div>
	</div>
</div>


<div class="container">
	<div class="row links-bar">
		<div class="col-xs-2 pic-link"><%= image_tag ('avatar.png'), :class => "avatar-logo" %></div>
		<div class="col-xs-2 timeline-link text-center"><p>Timeline</p></div>
		<div class="col-xs-2 about-link text-center">About</div>
		<div class="col-xs-2 photo-link text-center">Photos</div>
		<div class="col-xs-2 friend-link text-center">Friends</div>
		<div class="col-xs-2 pull-right profile-link text-right"><%=link_to "Edit profile", edit_user_path(@user) %></div>
		
	</div>
</div>

<div class=" container about-wrapper">
<div class="container">
	<div class="row about-title">
		<div class="col-xs-10 text-center"><h1>About</h1></div>
		<div class="col-xs-2"><button type="button" class="btn btn-primary btn-small btn-block edit-button"><%=link_to "Edit your profile", edit_user_path(@user)%></button></div>
	</div>

	

	<%=@post.title %><br>
	<%=@post.body %><br>


	<%= form_for @comment, :url => post_comments_path(@post) do |c|%>
	<%= c.label :comment %><br>
	<%= c.text_area :body %><br>
	<%= c.submit %>
	<% end %>

	<%=@comment.body %>