<!DOCTYPE html>
<html>
  <head>
    <title>ProjectDanebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

 
    
    <% if signed_in_user? %>

    <%= link_to current_user.first_name, current_user %>

    <%= link_to "logout", logout_path, :method => :delete %>
    <% else %>
        <%= yield %>
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <% end %>
  </body>
</html>
